doctype
html
  head
    link(href='/css/styles.css', rel='stylesheet', media='screen')
  body
    form(action='/todos', method='post')
      fieldset
        div.listName
          button#save Save
          input(type="text", name="todo", placeholder="todo", maxlength="50")
          textarea(type="text", name="details", placeholder="details", maxlength="450")
